body{
    width: 100%;
    height: 100%;
    background: #413F42;
    margin: 0;
    position: absolute;
    padding: 0;
}
.nav{
    width: 100%;
    height: 150px;
    background: #8f1f3f;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav__img{
    width: 130px;
    height: 90px;
    margin-left: 10px;
    
}
.nav__h1{
    display: inline-block;
    margin: 20px;
}
.nav__login{
    width: 100px;
    
}
.nav__login__button{
    width: 80px;
    height: 30px;
    background: #413F42;
    color: #7F8487;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
.aside__left{
    width: 200px;
    position: relative;
    top: -800px;
    height: 650px;
    margin-left: 0px;
    float: right;
    background: #7F8487;
    display: flex;
    transition: all 2s;
   justify-content: center;
}
.aside__left:hover{
    width: 200px;
    position: relative;
    top: 0px;
    height: 650px;
    margin-left: 0px;
    background: #7F8487;
    display: flex;
   justify-content: center;
}
.aside__left__form{
    height: 550px;
}
.aside__left__form__input{
    height: 20px;
    width: 150px;
    margin: 35px 25px;
    background: #8f1f3f ;
    color: white ;
    border: solid 1px #413F42;
    border-radius: 3px;
}
::placeholder{
    color: white;
    
}
.aside__left__form__input:focus{
    background: #413F42;
    color: white;
   
}
/* .none{
    display: none;
} */
.carrousel{
    margin-top: 50px;
    margin-left: 60px;
    /* margin: 0 auto; */
    width: 75%;
    height: 550px;
    z-index: 100;
}
.carrousel__img{
    width: 100%;
    height: 100%;
}